@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row text-center">
    <div class="col">
        <h1 class="display-4">Welcome</h1>
        <h2>to our Company</h2>
    </div>
</div>

<div class="row text-center">
    <div class="col">
        <img src="/images/banner.jpeg" alt="banner"  class="w-75 img-fluid img-thumbnail" />
    </div>
</div>
